@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&display=swap');
$navbar-colorText: #ffffff6b;
$navbar-colorLogo: #ffffff;
$navbar-fontText: 'Montserrat', sans-serif;
$container-fontText: 'Alumni Sans', sans-serif;
*{
    margin: 0 auto;
}

body{
    background-color: rgb(41, 41, 41);
}

.navbar {
    position: fixed;
    z-index: 110;
    width: 101vw;
    height: 9vh;
    display: flex;
    background-color: transparent;
    border-bottom: 1px solid $navbar-colorText;

    .navbar-options{
        flex: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $navbar-colorText;
        font-size: 1.45vh;
        font-family: $navbar-fontText;
        color: $navbar-colorText;
        
        a {
            cursor: pointer;
            text-decoration: none;
            color: $navbar-colorText;
            &:active {
                color: $navbar-colorText;
            }
            &:visited {
                color: $navbar-colorText;
            }

        }

        .main-logo{
            img{
                height: 6.5vh;
            }
        }
        .socials{
            display: flex;
            justify-content: space-between;
            column-gap: 1vw;
            cursor: pointer;
            .socials-logo {
                img {
                    height: 2.1vh;
                }
            }
        }

    }
}

.container{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: flex-end;
    .bg-img{
        position: absolute;
        height: 100%;
        z-index: 10;
        img{
            width: 100vw;
        }
    }
    .description {
        position: absolute;
        z-index: 90;
        text-align: center;
        padding-bottom: 8vh;
        font-family: $container-fontText;
        font-size: 7vh;
        margin-left: 23vw;
        margin-right: 23vw;
        color: $navbar-colorLogo;
    }
}

.frame2{
    height: 20vh;
    color: $navbar-colorLogo;
    font-size: 10vh;
}